OPENAI_API_KEY=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
VAPI_API_KEY=befe5dc5-bf0c-4aa8-9464-10485a7c8854